@import '../../../styles/settings.scss';

.formLogin {
    text-align: center;

    .button {
        background-color: $color-cool;
        border-color: $color-cool;
        border-radius: $border-radius;
        padding: $button-padding;
        &:hover {
            background-color: $color-main;
            border-color: $color-main;
        }
    }    

}