@import '../../../styles/settings.scss';

.navigation {
    background-color: $color-main;
    margin-bottom: 26px;

    &__links {
        align-items: center;
        gap: 8px;
        margin-left: 8px;
    }
}