@import '../../../styles/settings.scss';

.form {
    text-align: center;

    .button {
        margin: 2em;
        background-color: $color-cool;
        border-color: $color-cool;
        border-radius: $border-radius;
        padding: $button-padding;
        &:hover {
            background-color: $color-main;
            border-color: $color-main;
        }
    } 

}
