@import '../../../styles/settings.scss';

.advertCard {
    margin: 2em 0;

    .row {
        display: flex;
        align-items: center;
    }

    .button {
        background-color: $color-warm;
        border-color: $color-warm;
        border-radius: $border-radius;
        padding: $button-padding;
        margin-right: 5px;
        &:hover {
            background-color: $color-main;
            border-color: $color-main;
        }
    }    
}