@import '../../../styles/settings.scss';

.card {
    margin: 34px 0;

    &__img {
        max-height: 600px;
        object-fit: cover;
        object-position: center;
    }

    &__details {
        flex-direction: column;
        
        &__img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}