@import '../../../styles/settings.scss';

.button {
    color: white;
    border: none;
    border-radius: $border-radius;
    padding: $button-padding;
    transition: background-color .15s linear;

    &--warmCool {
        @extend .button;
        background-color: $color-warm;
        &:hover {
            background-color: $color-cool;
        }    
    }

    &--coolMain {
        @extend .button;
        background-color: $color-cool;
        &:hover {
            background-color: $color-main;
        }    
    }

    &--warmMain {
        @extend .button;
        background-color: $color-warm;
        &:hover {
            background-color: $color-main;
        }    
    }
}